.container {  
    display: grid;
    width: 71vh;
    height: 100vh;
    background-color: rgb(47, 10, 71);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 1fr 1fr 0.5fr 0.5fr;
    gap: 1px 1px;
    grid-auto-flow: row;
    grid-template-areas:
      "a a a a c c e e"
      "b b b b d d e e"
      "f g h i j k l l"
      "f g h i j k m m"
      "n n n n n o o o"
      "p p p q q q q q"
      "r r r r s s s s"
      "t t t t u u u u"
      "v v w w y y y y"
      "v v x x y y y y";
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }

  *{

    box-sizing: border-box;
    margin: 0%;

  }

  /*The reason why I chose this color template is that purple and blue are my favorite colors. 
  Both colors can always make me feel calm and peaceful, and adding some pink will make it look
  not that cold. I am bad at color planning, so almost all the colors are from a palate in Procreate.
  But I feel a bit sad that I still feel awkward about my result, I am not sure is because I am 
  really bad at doing this or if the color is a bit different because it cannot show the color.*/

  :root{
    --co101:rgb(69,48,117);
    --co102:rgb(50,49,119);
    --co103:rgb(85,47,117);
    --co104:rgb(108,46,116);
    --co105:rgb(42,72,131);
    --co106:rgb(60,71,130);
    --co107:rgb(78,72,130);
    --co108:rgb(103,73,130);
    --co109:rgb(53,122,161);
    --co1010:rgb(63,127,161);
    --co1011:rgb(78,131,162);
    --co1012:rgb(102,136,163);
    --co1013:rgb(141,145,164);
    --co1014:rgb(165,151,165);
    --co1015:rgb(186,158,166);
    --co1016:rgb(255,255,255);
    --co1017:rgb(140,47,115);
    --co1018:rgb(158,47,114);
    --co1019:rgb(139,75,129);
    --co1020:rgb(159,76,129);
  }

  /*I did not add a lot of design to the color because the picture I 
  chose gave me a feeling of color samples of perfume, so I want to keep 
  the simple look to bring out the feeling of a smell.*/
  
  .a { grid-area: a;
    background:var(--co1018);
}
  
  .b { grid-area: b; 
    background: linear-gradient(0.25turn, var(--co1010), var(--co1012), var(--co1011));
}
  
  .c { grid-area: c;
    background: linear-gradient(60deg, var(--co101), var(--co103), var(--co104));
}
  
  .d { grid-area: d;
    background: var(--co1019);
}
  
  .e { grid-area: e;
    background: var(--co1015);
}
  
  .f { grid-area: f;
    background: var(--co104);
}
  
  .g { grid-area: g;
    background: var(--co108);
 }
  
  .h { grid-area: h;
    background: var(--co107);
 }
  
  .i { grid-area: i;
    background: var(--co104);
 }
  
  .j { grid-area: j;
    background: var(--co108);
 }
  
  .k { grid-area: k;
    background: var(--co107);
 }
  
  .l { grid-area: l;
    background: var(--co1020);
 }
  
  .m { grid-area: m;
    background: var(--co106);
 }
  
  .n { grid-area: n;
    background: var(--co1020);
   }
  
  .o { grid-area: o;
    background: var(--co108);
   }
  
  .p { grid-area: p;
    background: var(--co1015);
   }
  
  .q { grid-area: q; 
    background: linear-gradient(60deg, var(--co101), var(--co103), var(--co104));
  }
  
  .r { grid-area: r;
    background: linear-gradient(var(--co1010), var(--co1011), var(--co1012));
   }
  
  .s { grid-area: s;
    background: linear-gradient(55deg, var(--co1013), var(--co1014), var(--co1015));
   }
  
  .t { grid-area: t;
    background: linear-gradient(40deg, var(--co1017), var(--co1018), var(--co1019), var(--co1020));
   }
  
  .u { grid-area: u;
    background: linear-gradient(55deg, var(--co105), var(--co1011));
   }
  
  .v { grid-area: v;
    background: var(--co1013);
   }
  
  .w { grid-area: w;
    background: var(--co1011);
   }
  
  .x { grid-area: x;
    background: var(--co108);
   }
  
  .y { grid-area: y;
    background: linear-gradient(88deg, var(--co107), var(--co108));
   }
  